---
layout: default
---

<section class="single-wrap">
  <article class="single-content" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="feat">
      <h5 class="page-date">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {% assign m = page.date | date: "%-m" %}
          {{ page.date | date: "%-d" }}
          {% case m %}
            {% when '1' %}de Enero de
            {% when '2' %}de Febrero de
            {% when '3' %}de Marzo de
            {% when '4' %}de April de
            {% when '5' %}de Mayo de
            {% when '6' %}de Junio de
            {% when '7' %}de Julio de
            {% when '8' %}de Agosto de
            {% when '9' %}de Septiembre de
            {% when '10' %}de Octubre de
            {% when '11' %}de Noviembre de
            {% when '12' %}de Diciembre de
          {% endcase %}
          {{ page.date | date: "%Y" }}
        </time>
      </h5>
    </div>
    <h1 class="page-title" itemprop="name headline">{{ page.title }}</h1>
    <div itemprop="articleBody">
      {{ content }}
    </div>
    <div class="feat share">
      <a href="http://twitter.com/share" class="popup">
        <span class="icon-twitter"></span>
      </a>
    </div>
    {% if page.next %}
      <a rel="next" href="{{ site.baseurl }}{{ page.next.url }}" id="next">
        <span class="nav-title nav-title-next">newer</span> &rarr;
      </a>
    {% endif %}
    {% if page.previous %}
      <a rel="prev" href="{{ site.baseurl }}{{ page.previous.url }}" id="prev">
        &larr; <span class="nav-title nav-title-prev">older</span>
      </a>
    {% endif %}
  </article>
</section>
